<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white">
    <a class="navbar-brand" (click)="home()"><img src="assets/logoMW.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"><i>MOBILE</i><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"><i>ACCESORY</i><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"><i>GADGET</i><span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav mr-0">
        <form class="form-inline mt-2 mt-md-0" #formNavbar="ngForm" (ngSubmit)="imprimir()">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </form>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="material-icons">
              person_outline
            </i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="user/login" *ngIf="!isLogged">Log In</a>
            <a class="dropdown-item" href="user/register" *ngIf="!isLogged">Sign Up</a>
            <a class="dropdown-item" (click)="profile()" *ngIf="isLogged">Profile</a>
            <a class="dropdown-item" (click)="lisP()" *ngIf="isLogged">List Products</a>
            <a class="dropdown-item" (click)="shop()" *ngIf="isLogged">Shopping</a>
            <a class="dropdown-item" href="" *ngIf="isLogged" (click)="onLogout()">Log Out</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="btn" (click)="shopC()"><i class="material-icons">
              local_grocery_store
            </i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>