<body>
  <div class="carousel">
    <a *ngFor="let phone of products" class="carousel-item" href="#five!"><img [src]="phone.image"
        class="carousel-image" style="height: 10cm;width:7cm"></a>
  </div>
  <div class="container">
    <div class="row">
      <div *ngFor="let product of products" class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img [src]="product.image" [alt]="product.name" height="180">
            <span class="card-title">{{product.name}}</span>
          </div>
          <div class="card-content">
            <p><b>Price: </b>{{product.price | currency}}</p>
          </div>
          <div class="card-action">
            <a>Buy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>