<section class="row mt-5">
  <div class="col">
    <button class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalProduct">New
      Product</button>
    <table class="table table-hover">
      <thead> 
        <tr>
          <th scope="col">#</th>
          <th scope="col">Type</th>
          <th scope="col">Name</th>
          <th scope="col">Brand</th>
          <th scope="col">Model</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Offer</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{product.type}}</td>
          <td>{{product.name}}</td>
          <td>{{product.brand}}</td>
          <td>{{product.model}}</td>
          <td>{{product.description}}</td>
          <td>{{product.price}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.offer == 1 ? 'Yes': 'No'}}</td>
          <td>
            <button class="btn btn-primary" data-toggle="modal" data-target="#modalProduct"
              (click)="onPreUpdateProduct(product)">Update</button>
          </td>
          <!-- <td *ngIf="book.userUid == userUid || isAdmin == true; else noOwner">
            <button class="btn btn-primary" data-toggle="modal" data-target="#modalBook"
              (click)="onPreUpdateBook(book)">Update</button>
          </td> 
          <ng-template #noOwner>
            <td>
              <button class="btn btn-secondary" disabled="true">Update</button>
            </td>
          </ng-template> -->
          <td>
            <button class="btn btn-danger" (click)="onDeleteProduct(product.id)">Delete</button>
          </td>
          <!-- <td *ngIf="isAdmin == true; else noAdmin">
              <button class="btn btn-danger" (click)="onDeleteBook(book.id)">Delete</button>
            </td>
          <ng-template #noAdmin>
            <td>
              <button class="btn btn-danger" disabled="true">Delete</button>
            </td>
          </ng-template> -->
        </tr>
      </tbody>
    </table>
  </div>
</section>
<app-modal [userUid]="userUid"></app-modal>